#header
{
	font-size: 50pt;
	color: grey;
	background-color: black; height: 6rem; border-bottom: 4px solid orange;
	text-align: center;
	left: 0;
	top: 0;
	position: absolute;
	width: 100%;
	
	
}
.writing
{
	font-size: 12pt;
	color: black;
	font-family: Verdana, sans-serif;
	
}


.topnav {
	overflow: hidden;
	background-color: black;
	
}

.topnav a{
	float: left;
	color:#f2f2f2;
	text-align:center;
	padding: 14px 16px;
	text-decoration:none;
	font-size:17px;
	
	
}

.topnav a:hover{
	background-color:#ddd;
	color:black;
}
.topnav a.active{
	background-color: #ffa500;
	color: white;
}


