#header
{
	font-size: 50pt;
	color: grey;
	background-color: black; height: 6rem;
	text-align: center;
	
}
.writing
{
	font-size: 12pt;
	color: black;
	font-family: Verdana, sans-serif;
	
}
