#header
{
	font-size: 50pt;
	color: grey;
	background-color: black; height: 6rem;
	text-align: center;
	left: 0;
	top: 0;
	position: absolute;
	width: 100%;
	
}
.writing
{
	font-size: 12pt;
	color: black;
	font-family: Verdana, sans-serif;
	
}
